html,body{
    margin: 0;
    padding: 0;
    width: 100% !important;
    overflow-x: hidden !important;
}
*   {
    box-sizing: border-box;

}
.dropdown-button    {
    background-color: transparent;
}
.dropdown-button:hover   {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color: black !important;
}
.book-button    {
    background-color: red;
    color: white;
    width: 150px;
    height: 100px;
    margin-left: 150px;
    padding: 10px;
    border: none;

}
.red-line   {
    width: .5% !important;
    height: .2rem !important;
    background-color: red;
    size: 1;
}
.subscribe  {
    height: 180px;
}
div a{
    text-decoration: none;
}
.dark-white {
    color: rgb(153, 148, 148);
}
.dotted {
        color: #ddd;
        border-bottom:1px dashed #ddd;
        border-width: 5px;
        width: 100%;
}
footer  {
    height: 400px;
}
.footer-button  {
    background-color: transparent;
    border: .5px solid #ddd;
    color: rgb(153, 148, 148);
}
.banner-img {
    background-image: url(https://source.unsplash.com/random);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text    {
    color: aliceblue;
}
.dark-image img {
    -webkit-filter: brightness(100%);
}
.dark-image img:hover{
    -webkit-filter: brightness(30%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.green-button   {
    background-color: green !important;
} 
.map-container  {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}
.slideshow-container::after {
    content: "";
    background: black ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0);

}
.carousel-content {
    position:absolute;
}
/* sticky nav */
.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 3000000 !important;
  }
  .sticky + .slideshow-container    {
      padding: auto;
  }
  #myNavbar {
      position: sticky !important;
      top:0 !important;
  }
.stats {
    background-image: linear-gradient(rgba(0,0,0,.9), rgba(18, 17, 48, 0.9)), url("./Images/huh!.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
/* validation */
/* .error-subscribe   {
    display: none;
} */